build-simulator-Desktop_Qt_5_14_2_clang_64bit-Debug
build-simulator-Desktop_Qt_5_15_1_MinGW_64_bit-Debug
build-simulator-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug
build-simulator-Desktop_Qt_5_15_0_clang_64bit-Debug

